body {
  background: black;
  color: white;
}

.user-profile{
  text-align: center;
  margin: 50px;
}

.add-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh 2vh;
}

.profile-asset-card, .show-asset-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.profile-location-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.asset-view-card{
display: flex;
justify-content: center;
text-align: center;
margin-top: 5rem;
}

.card-image {
  height: 8rem;
}

a.card-link {
  margin: 0 0 0 15px;
}

.asset-actions {
  background-color: black;
}

.asset-notes {
  height: 2vh;
}

.profile-asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.location-data {
  background-color: black;
  color: white;
  margin: 1rem;
}
